
.page_contact{
    position: absolute;
    top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.contact_formulaire{
    display: flex;
    flex-direction: column;
    color: white;
    
    align-items: center;
    width: 100%;
    
}
.contact_formulaire h2{
    font-size: 45px;
    font-style: italic;
}
.quote_contact{
    color: white;
    font-style: italic;
    margin-top: 50%;
    font-size: 1.5em;
}