@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');



.banner_navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 6%;
    padding-right: 3%;
    height: 100px;
    align-items: center;
    background-color: #28282B;
    color: whitesmoke;
    font-family: 'Trocchi', serif;
    width: auto; 
}


.welcome_navBar{
    font-size: 12px;
    
}


.menu_navBar{
    width: 50%;
    display: flex;
    flex-direction: row;   
}

.list_navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    list-style-type: none;
    white-space: nowrap; 
    width: 100%;
}


.list_element{
    
    font-family: 'Trocchi', serif;
    font-size: 18px;
    padding: 3% 5%;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.list_element:hover{
    border-bottom: solid 1px cyan;
}

/* gestion du menu burger - version mobile */
.hidden_div{
    height: 100px;
}

.first_div_navBar{
    position: absolute;
    top: 5px;
    left: 5%;
    display: flex;
    align-items: center;  
    display: none;   
}
.first_div_navBar div{
    margin-right: 5%;
}
.first_div_navBar h2{
    white-space: nowrap;
    
}
.check_navBar{
    width: 200%;
}
.span_navBar{
    display: none;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: #cdcdcd;
    border: 3px;
}
.hidden_div_navBar{
    display: none;
    list-style-type: none;
    background: #ededed;
    z-index: 2;
    background: #28282B;
    position: absolute;
    width: 600px;
    top: 100px;
}
.hidden_div_navBar li{
    width: 30%;
    white-space: none;
    
}
.list_element_hidden {
    color: #28282B;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #cdcdcd;
    
}





/* gestion des medias queries */


@media only screen and (max-width: 1600px) {
    .banner_navBar {
        justify-content: center;
    }
}

@media only screen and (max-width: 1260px) {
    .welcome_navBar {
        display: none;
    }

    .menu_navBar {
        width: 85%;
    }
}

@media only screen and (max-width: 870px) {
    .banner_navBar {
        padding: 0%;
        justify-content: flex-start;
    }

    .list_element {
        margin-right: 30%;
    }
}

@media only screen and (max-width: 720px) {
    .list_navBar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 15%;
    }
}

@media only screen and (max-width: 560px) {
    
    .first_div_navBar{
        display: flex;
        
    }
    .span_navBar{
        display: block;
    }
    .hidden_div_navBar{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        width: 100%;
        border: cyan 1px solid;
        position: absolute;
        z-index: 3;   
        animation: largeur 0.2s  linear forwards;
        
    }

  @keyframes largeur {
    0% {
      width: 0px;
      overflow: hidden;
    }
    100% {
      width: 100%;
      overflow: hidden;
    }
  }

    .hidden_div_navBar li{
        white-space: nowrap;
    }
    .paragraphe_navBar:hover{
        color: cyan;
    }
    

    .menu_navBar{
        display: none;
    }
}

/*@media only screen and (max-width: 400px) {
    .list_navBar{
        padding-left: 5%;
        row-gap: 5%;
        column-gap: 5%;
    }

}*/
