


.projet_card{
    border: 1px white solid;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 22px;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    
}

.link_card {
    text-decoration: none;
    color: white;
}
.link_card:hover{
    color: cyan;
    text-decoration: underline;
}